<table style="border: 2px;">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Type</th>
        <th>Operation</th>
    </tr>
    <tr *ngFor="let produ of products">
        <td>{{produ.id}}</td>
        <td>{{produ.productName}}</td>
        <td>{{produ.productPrice}}</td>
        <td>{{produ.productType}}</td>
        <td><button (click)="deleteProduct(produ)">Delete</button><button (click)="updateProduct(produ.id)">Update</button></td>
    </tr>
</table>
